<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDIT PROFILE</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Stylesheet
          ================================================== -->
    <link rel="stylesheet" type="text/css" href="css/styleHome.css">
    <link rel="stylesheet" type="text/css" href="css/styleSignin.css">
    <link rel="stylesheet" type="text/css" href="css/styleSignUpHome.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact_me.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/AllSign.js"></script>

    <style>
        #eventBtn {
            width: 30%;
            position: relative;
            bottom: 215px;
        }
        #subj{
            width: 70%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="space_nav _mobile"></div>
        <div class="section-title text-center">
            <h2><b>Edit Profile</b></h2>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="topic"><b>Your Information</b></h3>
            </div>
        </div>


        <form action="/action_page.php" method="post" enctype="multipart/form-data" class="needs-validation">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div><img id='profile_picture' src="img/portrait.png"></div>
                    <br>
                    <input type="file" name="userfile" onchange="fileValidation1()">
                    <input type="hidden" name="txt_Image" id="txt_Image" value="">
                    <button type="submit" class="btn btn-primary upload">UPLOAD</button>
                </div>

                <div class="col-md-9 tutor">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="text">Name :</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
                                    value="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="text">Lastname :</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Enter lastname"
                                    name="lastname" value="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="text">Nickname :</label>
                                <input type="text" class="form-control" id="nickname" placeholder="Enter nickname"
                                    name="nickname" value="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone Number :</label>
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number"
                                    name="phone" value="" maxlength="10"
                                    onKeyPress="return CheckNumericKeyInfo(event.keyCode, event.which);">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group title_tea">
                                <label for="introduce">Your Profile (Introduce yourself Ex. Experience) :</label>
                                <!--<input type="text" class="form-control" id="introduce" placeholder="Description" name="introduce">-->
                                <textarea name="txt_History" style="height: 100px; width: 100%"
                                    placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="topic"><b>Your Education</b></h3>
                    <div class="clearfix"></div>
                </div><!-- col -->
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="radio" name="education" value="Studying" checked> Studying
                        <input type="radio" class="graduated" name="education" value="Graduated"> Graduated<br>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="introduce">Institution :</label>
                        <input type="text" class="form-control" id="introduce" name="txt_EducationName[]" value=""
                            placeholder="Enter institution" />
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="faculty">Faculty :</label>
                        <input type="text" class="form-control" id="faculty" name="faculty" value=""
                            placeholder="Enter faculty" />
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="department">Department :</label>
                        <input type="text" class="form-control" id="department" name="department" value=""
                            placeholder="Enter department" />
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="topic"><b>Subject for teaching</b></h3>
                </div>
            </div>

            <div class="row">
                <div id="subj">
                    <div id="add">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="subect">Subject :</label>
                                <select class="selected form-control" name="subject">
                                    <option value="0">Subject</option>
                                    <option value="1">Mathematics</option>
                                    <option value="2">Science</option>
                                    <option value="3">Physic</option>
                                    <option value="4">Chemistry</option>
                                    <option value="5">Biology</option>
                                    <option value="6">English</option>
                                    <option value="7">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="level">Level :</label>
                                <select class="selected form-control" name="level">
                                    <option value="0">Level</option>
                                    <option value="1">Primary</option>
                                    <option value="2">Junior High School</option>
                                    <option value="3">Senior High School</option>
                                    <option value="4">University</option>
                                    <option value="5">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group title_tea">
                        <label for="places">Places for teaching :</label>
                        <textarea name="txt_History" style="height: 100px; width: 100%"
                            placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary" id="eventBtn">+</button>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="SignUp-tutor2.html">
                <button type="submit" class="btn btn-primary" style="margin-bottom:60px;">Sign Up</button>
            </a>
        </div>
        <div class="col-sm-4"></div>
    </div>
    </div>

    <script>
        $(document).ready(function () {

            $("#eventBtn").click(function () {
                $("#add").clone().appendTo("#subj");
            });

        });
    </script>

</body>

</html>