<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TUTOR ACCOUNT</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="css/styleHome.css">
  <link rel="stylesheet" type="text/css" href="css/styleTutorSetting.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div class="container">
  <div class="space_nav _mobile"></div>
  <div class="section-title text-center">
    <h2><b>Tutor setting</b></h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img id="profile_picture" src="img/yee.jpg">
      <button class="btn edit"><a href="edit-tutor.html">Edit Profile</a></button>
    </div>
    <table>
      <tr class="blue">
        <td>
          <h3 style="color: white; font-size: 25px;">Your Information</h3>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2" style="padding-top: 10px;">Name : Krittiya Onbun-ua</p>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2">Nickname : Lookyee</p>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2">Email : Krittiya.wzd@outlook.com</p>
        </td>
      </tr>
    </table>
    <br>
    <table>
      <tr class="blue">
        <td>
          <h3 style="color: white; font-size: 25px;">Your Education</h3>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2" style="padding-top: 10px;">Status : Studying</p>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2">Institution : King Mongkut's University Of Technology Thonburi</p>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2">Faculty : Information Technology</p>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2">Department: Computer Science</p>
        </td>
      </tr>
    </table>
    <br>
    <table class="left">
      <tr class="blue">
        <td>
          <h3 style="color: white; font-size: 25px;">Subject For Teaching</h3>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2" style="padding-top: 10px;">Subject: Mathematics</p>
        </td>
      </tr>
      <tr class="yellow">
        <td>
          <p class="yellow2">Level: Primary, Junior High Scholl</p>
        </td>
      </tr>
    </table>

  </div>
</div>
</body>

</html>