.col-md-6 img{
    margin-top: 10px; 
}
#profile_picture{
    margin-left: 20%;
    width: 70%;
    height: 70%;
    border-radius: 50%; 
}
table{
    width: 50%;
}
.blue{
    background-color: #393e82;
}
.yellow{
    background-color: #ffc807;
}
td{
    padding: 0px 50px;
}
.yellow2{
    color: black; 
}
.left{
    margin-left: 50%;
}
.edit{
    margin: 20px 44%;
    padding: 5px 20px 5px 20px;
    background-color: #393e82;
    color: white;
}
.edit:hover{
    background-color: #ffc807;
    color: black;
}
