.input2[type=text]{
   width: 100%;
   height: 2%;
   padding: 12px 20px !important;
   margin: 8px 0;
   border: 1px solid #ccc;
}
.input2[type=email]{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.input3[type=text]{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.input4[type=number]{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.gender{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.input5[type=tel]{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.convenient{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.input6[type=text]{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.subject{
    width: 100%;
    float: left;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.place{
    width: 100%;
    height: 2%;
    padding: 12px 20px !important;
    margin: 8px 0;
    border: 1px solid #ccc;
}
/* Set a style for all buttons */
.booking{
    padding: 12px 40px;
}
button:hover {
    opacity: 0.8;
}
  
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
/* The Modal (background) */
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 30px;
    color: black;
}
  
/* Modal Content/Box */
.modal-content3 {
    background-color:  #ffc808;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 70%; /* Could be more or less, depending on screen size */
   }
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn {
       width: 100%;
   }
}