.upload{
    margin: 7.5px;
}
h3.topic{
    color: #393e82;
}

input[type=radio].graduated{
    margin-left: 20px;
}

div#transcript{
    display: inline-block;
}

#bg{
    border: 2px solid #ffc807;
    border-radius: 10px;
    background-color: #ffc807;
    padding-left: 20px;
}

.padding{
    padding-top: 20px;
}

.padding2{
    padding-bottom: 10px;
}


@media screen and (max-width: 768px){
    #profile_picture{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #bg{
        padding-right: 20px;
    }
    .tutor{
        margin-top: 10px;
    }
    .student{
        margin-top: 10px;
    }
    button[type=submit].upload{
        width: 30%;
    }
}
@media screen and (min-width: 769px){
    button[type=submit].upload{
        width: 100%;
        margin-left: 0px;
    }
}
